@{
    ViewBag.Title = "Студпрофком УАД - Сиротам";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="orphans-wrapper">
    <h3>Сиротам <span class="title-caption">посилання на корисні документи</span></h3>
    <p>
        <ul>
            <li>
                <a href="@Url.Content("~/Content/Documents/Orphans/КАБІНЕТ-МІНІСТРІВ-УКРАЇНИ.docx")">
                    Постанова Кабінету Міністрів України №226<br />“Про поліпшення виховання, навчання, соціального захисту та матеріального 
                    забезпечення дітей-сиріт і дітей, позбавлених батьківського піклування”
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/Content/Documents/Orphans/КАБІНЕТ-МІНІСТРІВ-УКРАЇНИ-Питання-діяльності-органів-опіки-та-піклування.docx")">
                    Постанова Кабінету Міністрів України №866<br />“Про Питання діяльності органів опіки та піклування,пов’язаної із захистом прав дитини”
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/Content/Documents/Orphans/МІНІСТЕРСТВО-ОСВІТИ-УКРАЇНИ-Про-затвердження-Інструкції-про-виготовлення-і-правила.docx")">
                    Наказ Міністерства Освіти і Науки України №216<br />“Про затвердження Інструкції про виготовлення і правила користування 
                    Єдиним квитком для дітей-сиріт і дітей,які залишилися без піклування”
                </a>
            </li>
        </ul>
    </p>
</div>
