@{
    ViewBag.Title = "Студпрофком УАД - Студентам";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="students-wrapper">
    <h3>Студентам <span class="title-caption">посилання на корисні документи</span></h3>
    <p>
        <ul>
            <li>
                <a href="http://osvita.ua/legislation/Vishya_osvita/3142/print/">
                    Наказ Міністерства Освіти і Науки України №1004<br /> 
                    "Про затвердження Примірного положення про студентський гуртожиток вищого навчального закладу"
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/Content/Documents/Orphans/КАБІНЕТ-МІНІСТРІВ-УКРАЇНИ-Питання-діяльності-органів-опіки-та-піклування.docx")">
                    Лист Міністерства Освіти і Науки України від 14.09.2011, №1/9-705<br />
                    “Про недопущення обмежень прав мешканців студентських гуртожитків”
                </a>
            </li>
            <li>
                Заява на вступ у профспілку:
                <a href="@Url.Content("~/Content/Documents/Applications/Заява_на_вступ.doc")">
                    Скачати документ.
                </a>
            </li>
        </ul>
    </p>
</div>
