@{
    ViewBag.Title = "Студпрофком УАД - Великодні акції";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="easter-action-wrapper">
    <h3>ВЕЛИКОДНІ <span>АКЦІЇ</span></h3>
    <p>
        Для підтримки національних традицій, які дійшли до нас з давніх часів щорічно в стінах академії 
        ректорат та профком студентів організовують великодню акцію «Розмалюй писанку». Разом з керівником 
        вищого навчального закладу студенти, викладачі та працівники розмальовують чарівні писанки.
    </p>
    <p>
        Географія цього проекту постійно розширюється. У 2013 році студенти з великодньою акцією відвідали притулок для неповнолітніх. 
        Проект «Розмалюй писанку» розвиває у кожного студента нові таланти і захоплення рисунком та зберігає у 
        серцях молоді таке мистецтво, як українське писанкарство.

    </p>
    <p>
        Також щорічно в академії проводиться «День вишиванки» і «Гаївки». 
    </p>
    <hr />
    <div id="plusgallery"
        data-type="google"
        data-userid="116877431537615488956"
        data-album-id="5888208808337995761"
        data-credit="false">
    </div>
</div>
