@{
    ViewBag.Title = "Студпрофком УАД - Подорожуємо разом";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="travel-with-us-wrapper">
    <h3>Подорожуємо <span>разом</span></h3>
    <p>
        Вже безліч років в академії існує проект «Подорожуємо разом». 
        Студенти мандрують різними куточками України і мають змогу побачити і 
        пізнати найцікавіші місця: 
    </p>
        <ul>
            <li>
                Замки Львівщини (маршрут 
                <a href="http://www.uad.lviv.ua/index.php?option=com_phocagallery&view=category&id=37:zolotapidkova&Itemid=44">«Золота підкова»</a> – 
                Олеський, Підгорецький та Золочівський замки)
            </li>
            <li>
                <a href="http://www.uad.lviv.ua/index.php?option=com_phocagallery&view=category&id=38:po4aiv&Itemid=44">Почаївська Лавра</a>
            </li>
            <li>
                «Сім чудес України» – <a href="http://www.uad.lviv.ua/index.php?option=com_phocagallery&view=category&id=40:kamjanecxotyn&Itemid=44">
                    Кам’янець-Подільська фортеця та місто Хотин</a>
            </li>
            <li>
                Національний дендрологічний парк <a href="http://www.uad.lviv.ua/index.php?option=com_phocagallery&view=category&id=39:sofiivka&Itemid=44">«Софіївка»</a> 
                (Умань)
            </li>
            <li>
                <a href="http://www.uad.lviv.ua/index.php?option=com_phocagallery&view=category&id=41:myka4evo&Itemid=44">«Замок Паланок»</a>
         (Мукачеве) та замок <a href="http://www.uad.lviv.ua/index.php?option=com_phocagallery&view=category&id=41:myka4evo&Itemid=44">Шенборна</a> (Чинадійово)
            </li>
        </ul> 
        <p>
            А ще студенти обожнюють проект <a href="http://www.uad.lviv.ua/index.php?option=com_phocagallery&view=category&id=42:perezagryzka&Itemid=44">
            «Перезавантаження»</a> (щорічне сходження студентів академії на найвищу гору України – Говерлу). Проект «Подорожуємо разом» розвиває любов
            до країни.
        </p>
    <hr />
    <div id="plusgallery"
        data-type="google"
        data-userid="116877431537615488956"
        data-album-id="5888197428067304897"
        data-credit="false">
    </div>
</div>
