@{
    ViewBag.Title = "Студпрофком УАД - УАД ТВ";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="scrabble-tourney-wrapper">
    <h3>УАД ТВ - <span>СТУДЕНТСЬКЕ ТЕЛЕБАЧЕННЯ</span></h3>
    <p>
        Нещодавно профком студентів започаткував новий проект – студентське телебачення «УАД ТВ». 
        Метою такого проекту є відображення поточних подій, наукових досягнень, культурних і 
        спортивних заходів Української академії друкарства та інших навчальних закладів в майбутньому, 
        огляд подій історії, випускників та кращих студентів академії, відображення соціальної думки 
        студентства з актуальних проблем академії та країни, а також інформованість студентів про діяльність 
        профкому студентів.
    </p>
    <p>
        Окрім репортажів про події у студентському житті, команда студентського телебачення знімає сюжети 
        про проблеми, які турбують молодь в академії та поза її територією. А також студентське телебачення 
        УАД допоможе студентам-журналістам набути практики у телевізійному просторі. 
    </p>
    <p>
        Студентське телебачення УАД ТВ – це новий унікальний, за своєю масштабністю та розлогістю проект,
         який стартує у нашому ВНЗ в травні, схожих проектів у ВНЗ Львова ще не було. У цьому  проекті команда 
        УАД ТВ виходить за рамки можливого, адже дає глядачеві не лише побачити та почути, але й відчути емоції,
         які вирують під час тої чи іншої події. Телеефір розбитий на декілька рубрик: новини, проблеми, культура, 
        спорт, відпочинок, соціальні опитування, тощо. За кожну рубрику відповідає певний студент, який забезпечує
         її повнотою інформації та робить все для удосконалення. Ми всіх запрошуємо долучатися до нового проекту
         студентського телебачення УАД ТВ – «Ти можеш все!».
    </p>
    <hr />
    <div id="plusgallery"
        data-type="google"
        data-userid="116877431537615488956"
        data-album-id="5888214527692507569"
        data-credit="false">
    </div>
</div>
